.accordion {
  border-top: 2px solid $color-gray;
  border-right: 3px solid $color-gray;
  border-left: 3px solid $color-gray;
  border-bottom: 2px solid $color-gray;
  color: $color-dark-blue;
}

.accordion__group {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 6px;
  background-color: $color-white;
  //border-bottom: 2px solid $color-gray;
  cursor: pointer;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 16px;
    width: 6px;
    height: 6px;
    border-left: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
    transform: rotate(-130deg) skew(10deg);
  }

  &:hover {
    background-color: $color-gray;

    &::after {
      border-left: 1px solid $color-dark-blue;
      border-bottom: 1px solid $color-dark-blue;
    }
  }

  &--active {
    background-color: $color-gray;
    border-bottom: 2px solid $color-gray;

    &::after {
      border-left: 1px solid $color-blue;
      border-bottom: 1px solid $color-blue;
      transform: rotate(-40deg) skew(10deg);
    }

    &:hover {

      &::after {
        border-left: 1px solid $color-blue;
        border-bottom: 1px solid $color-blue;
      }
    }
  }


}

.accordion__sub {
  display: none;
  margin-top: 13px;
  padding-left: 25px;
  border-bottom: 2px solid $color-gray;
  list-style: none;

  &--show {
    display: block;
    background-color: $color-white;
  }

  &--1 {
    margin-top: 5px;
    padding-bottom: 13px;
  }
}

.accordion__sub-item {
  position: relative;
  display: flex;
  margin-left: 11px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    background-color: $color-gray;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    background-image: url("../img/icons/zone-icon-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.accordion__sub-group {
  position: relative;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 37px;

  &::before {
    left: 17px;
    background-image: url("../img/icons/group-icon-dark.svg");
  }

  &::after {
    top: 8px;
    left: 5px;
    border-left: 1px solid $color-dark-blue;
    border-bottom: 1px solid $color-dark-blue;
  }
}

.accordion__sub-item-name {
  width: 85px;
  margin-right: 28px;
}

.accordion__sub-item-time {
  margin-right: 10px;
}
