.accordion {
  border-top: 2px solid $color-gray;
  border-right: 3px solid $color-gray;
  border-left: 3px solid $color-gray;
  border-bottom: 2px solid $color-gray;
  color: $color-dark-blue;
}

.accordion__group {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 6px;
  background-color: $color-white;
  //border-bottom: 2px solid $color-gray;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: $color-gray;
  }

  &--active {
    background-color: $color-gray;
    border-bottom: 2px solid $color-gray;
  }
}

.accordion__sub {
  display: none;
  margin-top: 13px;
  padding-left: 25px;
  border-bottom: 2px solid $color-gray;
  list-style: none;

  &--show {
    display: block;
    background-color: $color-white;
  }

  &--1 {
    margin-top: 5px;
    padding-bottom: 13px;
  }
}

.accordion__sub-item {
  position: relative;
  margin-left: 11px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    background-color: $color-gray;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    background-image: url("../img/icons/zone-icon-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.accordion__sub-group {
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 37px;

  &::before {
    left: 17px;
    background-image: url("../img/icons/group-icon-dark.svg");
  }
}

