.actions {
  display: flex;
  justify-content: flex-start;
  margin-right: 6px;
  //margin-left: 42px;
  padding-top: 20px;
  padding-bottom: 20px;
  //border-top: 2px solid $color-gray;
  font-size: 12px;
  line-height: 16px;
  list-style: none;

  &--top {
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.actions__item-link {
  position: relative;
  display: block;
  padding-left: 18px;
  padding-right: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: $color-blue;

  &:hover {
    color: $color-dark-blue;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &--add {
    &::before {
      background-image: url("../img/icons/plus-icon.svg");
    }

    &:hover::before {
      background-image: url("../img/icons/plus-icon-dark.svg");
    }
  }

  &--export {
    &::before {
      background-image: url("../img/icons/export-icon.svg");
    }

    &:hover::before {
      background-image: url("../img/icons/export-icon-dark.svg");
    }
  }

  &--import {
    &::before {
      background-image: url("../img/icons/import-icon.svg");
    }

    &:hover::before {
      background-image: url("../img/icons/import-icon-dark.svg");
    }
  }

  &--search {
    text-indent: -9999px;
    &::before {
      left: 25px;
      background-image: url("../img/icons/search-icon.svg");
    }
  }

  &--group {
    &::before {
      background-image: url("../img/icons/group-icon.svg");
    }

    &:hover::before {
      background-image: url("../img/icons/group-icon-dark.svg");
    }
  }

  &--example {
    margin-right: 8px;

    &::before {
      background-image: url("../img/icons/plus-icon.svg");
    }

    &:hover::before {
      background-image: url("../img/icons/plus-icon-dark.svg");
    }
  }
}
