.control-panel {
  width: 500px;
  background-color: $color-white;
  box-shadow: 0 3px 7px 0 rgba(82, 96, 255, 0.5);
}

.control-panel__header {
  display: flex;
  justify-content: space-between;
}

.control-panel__btn {
  &--active {
    background-color: rgba(81, 97, 255, 0.3);;
  }
}