.main-nav {
  position: relative;
  margin-bottom: 6px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 17px;
  background-color: $color-white;
  box-shadow: 0 3px 7px 0 rgba(81, 97, 255, 0.3);
}

.main-nav__list {
  list-style: none;
}

//.main-nav__item {
//  position: relative;
//}

.main-nav__item-link {
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: $color-blue;

  &:hover {
    color: $color-dark-blue;

    &::after {
      border-left: 1px solid $color-dark-blue;
      border-bottom: 1px solid $color-dark-blue;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 45px;
    width: 6px;
    height: 6px;
    border-left: 1px solid $color-blue;
    border-bottom: 1px solid $color-blue;
    transform: rotate(-40deg) skew(10deg);
  }
}
