.page-header {
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 6px;
  background-color: $color-white;
  box-shadow: 0 3px 7px 0 rgba(81, 97, 255, 0.3);
}

.page-header__title {
  font-size: 16px;
  line-height: 20px;
  color: $color-dark-blue;
}
