.user-block {
  display: flex;
  justify-content: flex-end;
}

.user-block__login {
  padding-right: 19px;
}

.user-block__logout {
  position: relative;
  width: 86px;
  padding-left: 36px;
  border-left: 2px solid $color-gray;
}

.user-block__login-link,
.user-block__logout-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.user-block__login-link {
  color: $color-dark-blue;

  &:hover {
    color: $color-blue;
  }
}

.user-block__logout-link {
  color: $color-blue;

  &:hover {
    color: $color-dark-blue;

    &::before {
      background-image: url("../img/icons/export-icon-dark.svg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 20px;
    width: 14px;
    height: 14px;
    background-image: url("../img/icons/export-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
  }
}
